@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 780px) {
  .profile__avatar {
    margin: 0 10px 0 0;
  }

  .profile__info {
    grid-template-columns: auto;
  }

  .profile__title {
    font-size: 32px;
  }

  .profile__description {

  }

  .profile__edit-button {
    padding-right: 10px;
  }

  .profile__add-button {
    width: 100px;
  }
}


@media screen and (max-width:636px) {

  .profile {
    flex-direction: column;
    height: 286px;
    padding: 0;
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    align-items: baseline;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    margin-top: 30px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-top: 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

  }

  .profile__add-button {
    margin: 36px 0 0;
    width: 282px;
  }

  .profile__edit-button {
    margin-left: 10px;
  }

  .card__list {
    margin: 36px 0 0;
  }

  .footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 48px 19px 36px;
    width: calc(100% - 38px);
  }

}

@media screen and (max-width:480px) {
  .page__content {
    padding-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .profile {
    flex-direction: column;
    height: 286px;
    padding: 0;
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    align-items: baseline;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    margin-top: 30px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-top: 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

  }

  .profile__add-button {
    margin: 36px 0 0;
    width: 282px;
  }

  .profile__edit-button {
    margin-left: 10px;
  }

  .card__list {
    margin: 36px 0 0;
  }

  .footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 48px 0 36px;
    width: calc(100% - 38px);
  }
}